$--main-top-border: #069;
$--basic-border-color: #ebebeb;
$--black-text-color: #333;
$--menu-text-color: #303133;
$--tab-gray-color: #f7f7f7;
$--wap-bg-color: #f0f0f0;
$--gray-text-color: #999;
$--deep-gray-text-color: #818181;
$--basic-orange: #ffb62e;
$--deep-orange: #f9a058;
$--basic-red: #cc0000;
$--alert-red: #ff0000;
$--light-color-primary: #ecf5ff;
$--button-border-primary: #c6e2ff;
$--deep-color-primary: #4681bc;
$--basic-shadow: rgba(0, 0, 0, 0.1);
$--footer-bg: #e0e0e0;
$--basic-green: green;

$--color-primary: #409eff;
